
/app/src/Config/__pycache__
/app/src/Core/__pycache__
/app/src/Database/__pycache__
/app/src/Gui/__pycache__
/app/src/Log/__pycache__
/log
log/setup.log
*.log
/config/db_config.enc
/key
.archive
/app/src/Security/__pycache__
/app/src/Storage/__pycache__
/app/src/Recovery/__pycache__
